
body{
    max-width: fit-content;
    margin: 0 1rem 0 1rem;
}
a{text-decoration: none; }
nav{margin: 0;}
nav ul{background-color: #fff; margin: 30px 0 30px 0;}
nav ul li{display: inline; padding: 0.5rem; }
nav ul a:link, a:visited {color: #000; padding: 1em; }
nav ul a:hover, a:active{color: #fff; background-color: #22abb8; padding: 1em; font-weight: bold;}
nav ul a.active{border-bottom: 3px solid #006569;}

h1, h2, h3, h4, h5, h6, li a {
    font-family: "Noto Sans", monospace, Sans;
    /* color: orange; */
}
p, body{
    font-family: "Open Sans", sans-serif, Arial;
}
.heading-color{
    color: orange;
}
h1.site-header{
    font-size: 40px;
    background-color: rgba(0, 101, 111, 0.8);
    color: #fff;

}
.primary-navigation{
    font-size: 30px;
    color: #006569;
}
.footer-navigation{
    background-color: #00000088;
    color: #fff;
    font-size: 20px;
}
.heading-1-sample, .heading-2-sample, .heading-3-sample{
    color: #006569;
}
.paragraph-sample{
    color: #000;
}


table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 1em;
    margin: 1rem;
}
.color-1{background-color: #006569; color: white;}
.color-2{background-color: #22abb8;}
.color-3{background-color: #00000088;}
.color-4{background-color: #FFFFFF;}




