:root{
    --header-background-color: #fff;
    --heading-logo-font-color: #ee7f00;
    --headings-font-color: #000;

    --span-currentDay-font-color: #fff;
    --span-currentDay-background-color: #00656F;

    --hamburgerBtn-font-color: #00656F;
    --hamburgerBtn-background-color: #3D1F00;

    --nav-background-color: #1da4b1;
    --nav-link-background-color: #fff;
    --nav-link-font-color: #3D1F00;
    --nav-link-active-background-color: #22abb8;
    --nav-link-active-font-color: #000;
    --nav-link-hover-background-color: rgb(0, 101, 111);
    --nav-link-hover-font-color: #fff;

    --paragraph-font-colors: rgba(0, 0, 0, 0.3);
    --paragraph-background-color: #ffffff;

    /* --link-font-color: ;
    --link-hover-font-color: ;
    --link-active-font-color: ; */

    --footer-background-color: #00000088;
    --footer-font-color: #fff;
    --footer-location-link-font-color: #ee7f00;
}
@media only screen and (min-width: 1107px){


    #hamburgerBtn{
        display: none;
    } 
    header{
        display: flex;    
        justify-content: space-between;  
        
    }
    


    nav {
        grid-column: 1/end; 
        grid-row: 1;
        justify-self: center;
        margin: 10px;
    }
    nav ul#primaryNav{
        display: flex;
    }
    nav ul li a{
        border: none;

    }
    nav ul li a.active{
        background-color: #fff;
    }
    nav ul li a.active:hover{
        /* flex-direction: row; */
        background-color:  var(--nav-link-active-background-color
        );
        /* color: #fff; */
    } 
    header img.header-logo-img{
        width: 200px;
        align-self: start;
        margin-top: 5px;
        margin-left: 2rem;

    }
    header nav{
        font-size: 1.3rem;
        margin-bottom: 0;
        padding-bottom: 0;
        align-self: center;
    }
    header span.currentDate{
        margin-top: 0;
    }
    header section.media{
        
        align-self: center;
        
    }

    .main-presentation-block{
        height: 420px;
    }
    main{
        margin: auto 1rem auto 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr auto ;        
        justify-items: stretch;
    }
    main div{
        margin: 0.5rem;
        height: auto;
    }
    /* main > div:hover, main div section:hover{
        box-shadow: 0px 0px 15px 2px #000;
    }*/
    
    div.hero-box{
        position: relative;
        background-color: transparent;
        margin-bottom: 19px;
    }
    .hero-box img{
        width: 100%;
        position: relative;
        /* width: 32rem; */
    }
    .hero-box button{
        position: absolute;
        bottom: 100px;
        right: 50px;
    }
    .hero-box{
        grid-column: 2/4;
        grid-row: 1/3;
    }
    .event-box{
        grid-column: 1;
        grid-row: 1;
    }
    .weather-box{
        grid-column: 1;
        grid-row: 2;
    }
    .weather-box p{
        margin: 0px;
    }
    .weather-box div{
        margin: 0px;
    }
    .join-box{
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 15px;
    }
    .spotlights-container{
        height: auto;
        grid-column: 4;
        grid-row: 1/4;
        
        flex-direction: column;
        justify-content: space-evenly;
    }
    .spotlights-container section{
        margin-bottom: 0;
        
    }
    /* setting the properties of spotlight-3 here because in the small appears though the display:none*/
    .spotlights-container :nth-child(3), .spotlights-container :nth-child(4){
        display: block;
        text-align: center;
    }
    
    .spotlight-3{
        display: block;
        border: 1px solid grey; 
        padding: 0.3rem; 
        text-align: center;
    }
    .news-release-box{
        grid-column: 2/4;
        grid-row: 3;
        margin-bottom: 8.5px;
    }


    /* -------------- discover site------------------- */
    .lujan-statistics-box{
        grid-column: 1/4;
        grid-row: 1/end;
        align-items: stretch;
    }
    .lujan-images-box{
        grid-column: 4;
        grid-row: 1/end;
        margin-bottom: auto;
    }
    
    
    .lujan-images-box:hover, .lujan-statistics-box:hover {
        box-shadow: 1px 1px 8px 1px #000;;
    }
    .lujan-statistics-box img, .lujan-images-box img{
        width: 100%;
        box-shadow: 1px 1px 5px 0.5px #000;
    }

    main img[data-src]{
        filter: blur(0.2em);
    }
    
    main img {
        filter: blur(0em);
        transition: filter 0.5s;
    }

    footer div.chamber-info-footer-container{
        align-items: flex-end;
        padding-right: 2rem;
    }
    /* ------------form in join site----------------- */
    
    legend{
        padding: 0 0.5rem 0 0.5rem;
        font-size: 1.2rem;
        color:#3D1F00;
    }
    main form {
        grid-column: 1/3;
        grid-row: 1/end;
        margin: 0 1rem;
    }
    form label.top input, form label.top select, form label.top textarea {
        width: 100%;
        max-width: 25rem;
    }
    form input.submitBtn{
        width: 100%;
        max-width: 10rem;
    }

    main section.benefits-box{
        display: block;
        margin-bottom: auto;
    }
    main section.benefits-box{
        grid-column: 3/5;
        grid-row: 1/end;
        /* border: 1px solid #00000088; */
        border-top: 5px solid #ee7f00;
        /* border-left: 5px solid #ee7f00; */
        padding: 1rem;
        margin-top: 0.55rem;
    }
    main section.benefits-box h2{
        color: #3D1F00;
    }
    section.benefits-box h3{
        background-color: white;
        margin-left: 0px;
        border-bottom: 5px solid ;
        padding: 0.2rem;
        width: 100%;
    }
    
    section.benefits-box p{
        
        margin: 0.4rem 0 0.4rem 0.5rem;
    }
    section.benefits-box div ul {
        margin-top: -8px;
    }
    section.benefits-box div{
        border: none;
        padding: 0.5rem;
    }

    section.benefits-box div.goldmembership h3{
        color: gold;
        background-color: grey;
    }
    section.benefits-box div.silvermembership h3{
        color: #9C9C9C;
        background-color: black;
    }
    section.benefits-box div.bronzemembership h3{
        color: #ffa500;
        background-color: #3D1F00;
    }
    section.benefits-box div.nonprofitmembership h3{
        color: green;
        background-color: yellowgreen;
    }

    form label.top input {
        height: 2.5rem;
    }


    
    /* -------------- thank you site ---------  */
    main div.thankyou-msg{
        grid-column: 2/4;
        
    }
    form .warning-box{
        width: 100%;
        max-width: 25rem;
    }
    /* --------------- reservation site ------------------ */
    
    
    main section.join-grids {
        grid-column: 1/end;
        grid-row: 1/end;

        margin: auto 1rem auto 1rem;
        display: grid;
        grid-template-columns: 1fr 18rem 18rem 1fr;
        grid-template-rows: auto auto auto ;        
        justify-items: stretch;
    }
        
        
    
    /* -----------------------------------------------------------*/
    /* -------------------- contact.html -------------------------*/
    /* -----------------------------------------------------------*/
    main .contact-us-heading{
        grid-column: 1;
        grid-row: 1;
        margin-top: 0px;
        margin-left: 15px;
        align-self: start;
        color: #3D1F00;
        font-size: 2.5rem;
        /* align-self: start; */
    }
    main form.contact-us-form{
        grid-row: 1/end;
        margin-top: 80px;
    }
    
    main div.site-contact-info{
        justify-self: center;
        margin-top: 65px;
    }
    main div.site-contact-info h3{
        margin-left: -15px;
    }
}




