/* this is the CSS style for the Luján chamber of commerce  */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root{
    --header-background-color: #fff;
    --heading-logo-font-color: #ee7f00;
    --headings-font-color: #00656f;

    --span-currentDay-font-color: #fff;
    --span-currentDay-background-color: #00656F;

    --hamburgerBtn-font-color: #00656F;
    --hamburgerBtn-background-color: #3D1F00;

    --nav-background-color: #1da4b1;
    --nav-link-background-color: #fff;
    --nav-link-font-color: #3D1F00;
    --nav-link-active-background-color: #22abb8;
    --nav-link-active-font-color: #000;
    --nav-link-hover-background-color: rgb(0, 101, 111);
    --nav-link-hover-font-color: #fff;

    --paragraph-font-colors: rgba(0, 0, 0, 0.3);
    --paragraph-background-color: #ffffff;

    /* --link-font-color: ;
    --link-hover-font-color: ;
    --link-active-font-color: ; */

    --footer-background-color: #00000088;
    --footer-font-color: #fff;
    --footer-location-link-font-color: #ee7f00;
}
b{
    letter-spacing: 0.9px;
}

#meeting-box-advice{
    background-color: var(--footer-background-color);
    color: #fff;
    text-align: center;
    padding: 20px;

}

h1, h2, h3, h4, h5, h6, header span, nav{
    font-family: "Noto Sans", monospace, sans-serif;
    margin: 5px;
    text-align: center;
}

body{
    font-family: "Open Sans", 'Times New Roman', Times, serif;
}
#hamburgerBtn {
    grid-column: end/-1;
    background: transparent;
    color: var(--hamburgerBtn-font-color);
    border: none;
    font-size: 2rem;
}
header {
    display: grid;
    background-color: var(--header-background-color);
    color: var(--heading-logo-font-color); 
    grid-template-columns:  auto 3fr 1.5fr 3.5rem ;    
    /* justify-items: center;  */
}
.header-logo-img{width: auto; margin-left: 1rem; align-self: center; justify-self: center; margin: 0 0.5rem 0 0.5rem ;}

.main-presentation-block{
    text-align: center;
    width: 100%;
    min-height: 420px;
    background-size: cover;
    background-position: center;
    height: 420px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-around;
}    
#main-block-reservation{
    background-image: url("../images/check-in-hotel.webp");
}
#main-block-temples{
    background-image: url("../images/washington_dc_mormon_temple-background.webp");
}
#main-block-index{
    background-image: url("../images/montgomery-street-view.webp");
}
#main-block-services{
    background-image: url("../images/complimentary-breakfast.webp");
}
#main-block-reception{
    background-image: url("../images/wedding-setup.jpg");
}
#main-block-full-temple-missionary{
    background-image: url("../images/suit-acomodation.jpg");
}


.main-presentation-block .main-image-background-front-text {
    margin-top: 1rem;
    padding: 0 2rem;
    align-self: flex-start;
    background-color: rgba(0, 101, 111, 0.3);
    color: #fff;
    align-self: center;
}    
.buttons-link a{
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    border: 2px solid #fff;
    border-radius: 30% 2%;
    font-weight: bolder;
    background-color: #00656F;
    min-width: fit-content;

}
.buttons-link a:hover{
    background-color: #022124;
}

div.buttons-link{
    border: none;
}


.media{display: inline; grid-column: 3; align-self: center; justify-self: right; }
.media img{width: 30px; }
.facebook-media-image{width: 2rem;}
.linkedIn-media-image{width: 2rem;}


.currentDate{grid-row: 3; grid-column: 1/end; justify-self: stretch; padding: 0.5rem; background-color: var(--span-currentDay-background-color); color: var(--span-currentDay-font-color); margin: 0.5rem 0 0.5rem 0; text-align: center;}


nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
}
nav ul li a {
    background: var(--nav-link-background-color);
    display: block;
    text-decoration: none; 
    justify-self: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.8rem;
    color: var(--nav-link-font-color);
    text-align: start;
    /* transition: 250ms; */
    
}
nav ul li a.active{background-color: var(--nav-link-active-background-color); color: var(--nav-link-active-font-color); border-bottom: 3px solid var(--span-currentDay-background-color);}
nav ul li a:hover{background-color: var(--nav-link-active-background-color); color: var(--nav-link-hover-font-color);}
nav {grid-row: 2; grid-column: 1/end; justify-self: stretch; margin: 0px;}
nav ul {display: none;}
nav ul.open{display: block;} 

#hamburgerBtn span:nth-child(1){ display: block;}
#hamburgerBtn span:nth-child(2){ display: none;}

#hamburgerBtn.open span:nth-child(1){ display: none;}
#hamburgerBtn.open span:nth-child(2){ display: block; margin-right: 0; }

.call-us-div{
    height: fit-content;
    text-align: center;
}

.temple-and-summary-paragraph img{
    width: 100%;
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


/* --------- subnav things ----- */
.subnav-content{
    display: none;
    position: absolute;
}
.subnav .subnavBtn{
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background: var(--nav-link-background-color);
    display: block;
    text-decoration: none; 
    justify-self: center;
    padding: 0.8rem;
    color: var(--nav-link-font-color);
    width: 100%;
    text-align: left;
}
.subnav .subnavBtn:hover{
    background-color:  var(--nav-link-active-background-color);
    color: #fff;
}
.subnav .subnav-content.open{
    display: block;   
}
.subnav-content {
    width: 100%;
}
.subnav-content a{
    font-size: 1rem;
    width: 100%;
    padding-left: 2rem;
    font-size: 0.9rem;
}
.subnav-content a:hover{
    border-left: 3px solid #00656F;
}


main{
    display: block;
}


main > div{
    height: auto;
    background-color: var(--paragraph-background-color);
    color: rgba(0, 0, 0, 0.9);
    margin: 1rem 1rem 1rem 1rem ;
    padding: 1rem;
}

.heading-2{
    margin: 1rem;
    color: var(--headings-font-color);

}






/* --This is from the event box → career fair --  */


/* --This is from job search box-- */




/* -- This is from the weather box -- */
.weather-box{
    margin: 0.5rem;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: var(--nav-background-color);
    
}
.weather-box h2{grid-column: 1/3; justify-self: center; margin: 0; color: #fff;}
.weather-box img{width: 6rem; grid-column: 1; grid-row: 2; justify-self: center;}
.weather-box .actual-temperature{font-size: 3rem; align-self: center; justify-self: center; grid-column: 2; margin: 0;}
.weather-box b{grid-column: 1/3; grid-row: 3; justify-self: center; font-size: 1.2rem;}
.weather-box div{grid-column: 1/3; grid-row: 4; justify-content: center; border-top: 3px solid var(--hamburgerBtn-font-color); padding: 0 0.5px 0.5px 0.5px; padding: 0;}
.weather-box div{text-align: center;}
.weather-box p{margin: 0.5rem;}
.weather-box p,.weather-box b,.weather-box .actual-temperature,.weather-box p{
    color: #fff;
}
.three-days-temperature-forecast{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.three-days-temperature-forecast{
    padding: 0.3rem;
    margin: 0;
}
.weather-boxes{
    background-color: #00656F;    
    width: auto;
    margin: 0.2rem;
    color: #fff;
}
.weather-boxes img{
    width: 100px;
    
}

/* -- spotlights container-- */
#weather-alert {
    display: flex;
    background-color: red;
    color:#fff;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#weather-alert button{
    background-color: transparent;
    color: #fff;
}

div#weather-alert.close{
    display: none;
}




/*---------------------- footer------------------- */

footer{ 
    margin-top: 1rem;
    display: flex;
    background-color: var(--footer-background-color);
    padding: 1rem;
    color: var(--footer-font-color);
    align-items: center;
    flex-direction: column;
}
footer span .location-link{text-decoration: none; color: var(--footer-location-link-font-color);}
.footer-logo-name{font-family: "Noto Sans", monospace, sans-serif;}

.chamber-info-footer-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.bottom-student-information-box{
    display: flex;
    border-top: 2px solid #fff;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: 90%;
    align-items: center;
    flex-direction: column;
}
.student-name{font-weight: bold; font-size: 120%;}
.footer-logo{width: 200px; padding: 1rem; margin-top: 0px; }



/* ---------------------------------------------- */
/* ------------ services website --------------- */
/* ---------------------------------------------- */
ul.ul-benefits{
    margin: 0.5rem;
}
main img{
    width: 100%;
}

/* ----------------------------------------------- */
/* ----------------  reservation.HTML ---------------- */
/* ----------------------------------------------- */
main .reservation-form{
    margin-top: 30px;
}
form {
    margin: 0 1rem;
}
fieldset{
    border-top: solid #00656F 5px;
    margin-bottom: 1rem;
}
legend {
    padding: 0 0.5rem 0 0.5rem;
}
form label.top {
    display: block;
    padding-top: 1.5rem;
    color: #860b0b;
    font-size: .8rem;
}

form label.top input, form label.top select, form label.top textarea {
    display: block;
    padding: 0.5rem;
    border: 0.5px solid rgb(100, 100, 100);
    border-radius: 0rem;
    width: 100%;
    max-width: 20rem;
}
form label.top input {
    height: 3rem;
}

form input.submitBtn {
    background-color:#00656F;
    border: none;
    color: #fff;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    justify-self: center;
    max-width: 20rem;
    font-family: "Noto Sans", monospace, sans-serif;
}

form input.submitBtn:hover{
    background-color: #1da4b1;
}

form label.top input:required{
    border-left: solid red 5px;
}

form .warning-box{
    display: none;
    background-color: #860b0b;
    color: #fff;
    padding: 0.5rem;
    max-width: 20rem;
}

main section.benefits-box {
    display: none;
}
/* ---------------------------------------------- */
/* ------------thank you site ------------------- */
/* ---------------------------------------------- */

main div.thankyou-msg, main div.thankyou-msg:hover{
    color:#0e5700;
    box-shadow: 0 5px 12px -2px blue;
    grid-row: 1/end;
}


/* ---------------------------------------------------------- */
/* ------------------ temple.html  -----------------------*/
/* ---------------------------------------------------------- */




main div.cards.grid{
    grid-row: 1/end;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
main div.cards.grid section{
    position: relative;
    box-shadow: 0 5px 12px -2px blue;
    padding: 1rem;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
}

main div.cards section p, main div.cards section a{
    margin: 0.2rem 0;
}

main div.cards section .thumb-box{
    font-weight: bolder;
    align-self: stretch;
    padding: 0.5rem;
    text-align: right;
    justify-self: start;
}

.thumb-box.check{
    color: blue;
}

.temple-info{
    background: #1da4b1;
    color: #fff;
}
.temple-info p b{
    text-align: left;
}
div.temple-info{
    display: none;
}
div.temple-info.open{
    display: block;
    padding: 0.5rem;
    /* position:absolute; */
    top: 50%;
    left: 50%;
}
.templeButton{
    margin-bottom: 0px;
    align-self: normal;   
    background-color: #00656f;
    color: #fff;
    border: none;
}
.templeButton:hover{
    background-color: #1da4b1;
    color: #000;
}
/* -----------------------------------------------------------*/
/* -------------------- contact.html -------------------------*/
/* -----------------------------------------------------------*/


main .contact-us-heading{
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: #3D1F00;
    margin-top: 0px;
    align-self: start;
    font-size: 2.5rem;
    /* align-self: start; */

}

main .site-contact-info{
    box-shadow: none;
}
main .site-contact-info h3, main form.contact-us-form h3{
    margin-bottom: 1.5rem;
    color: #3D1F00;
    
}

main .site-contact-info h4{
    color: #ee7f00;
}
main .site-contact-info p{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}




