@media only screen and (min-width: 670px){
    main{
        
        display: grid;
        column-gap: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main div{
        grid-column: 1/end;
    }
    #hamburgerBtn{
        display: none;
    }
    header{
        grid-template-columns:  auto 2fr 4fr 1.5fr;    
    }
    .media{ 
        grid-column: 4;
    }

    nav {
        grid-column: 3; 
        grid-row: 1;
        justify-self: center;
        margin: 10px;
    }
    nav ul#primaryNav{
        display: flex;
    }
    nav ul li a{
        border: none;

    }
    nav ul li a.active{
        background-color: #fff;
    }
    nav ul li a.active:hover{
        /* flex-direction: row; */
        background-color:  #ee7f00;
        /* color: #fff; */
    }

    main .hero-box .hero-heading{
        display:block ;
    }
    main .hero-box .hero-image{
        align-self: stretch;
    }
    .news-release-box{
        grid-row: 2;
    }
    /* this is the join chamber div */
    .join-box{
        display: block;
        grid-row: 4;
        position: relative;
        padding: 0;
    }
    .join-box img{
        width: 100%;
        display: block;    
    }
    .join-box h2{
        position: absolute;
        top: 0px;
        left: 0px;
        color: #fff;
        background-color: #0e570088;
        padding: 0.5rem;
    }
    main div.join-box p {
        position: absolute;
        top: 50px;
        left: 0px;
        color: #fff;
        background-color: #00000088;
        margin: 0 0px 10px 0;
        padding: 0.5rem;
        }
    main div.join-box button.join-main-button{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    main div.join-box button.join-main-button{
        text-decoration: none;
        color: #fff;
    }
    main div.join-box button.join-main-button:hover{
        box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.5);
        background-color: #0e5700;
    }
    
    /* this is the spotlights container */
    .spotlights-container{
        grid-row: 3;
        flex-direction: row;
        /* height: auto; */
        gap: 0.5rem;
    }
    .event-box{grid-column: 1/3;}
    .weather-box{grid-column: 3/4;}     


    footer{
        display: grid;
        grid-template-columns: auto 1fr 2fr;
    }
    .footer-logo{justify-self: center;}    
    
    

    .bottom-student-information-box{
        grid-column: 1/end;
        justify-self: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    }

    .bottom-student-information-box span{
        border-right: 1px solid #fff;
        padding: 0 1rem 0 1rem;
    }
    .bottom-student-information-box :last-child{
        border: none;
    }

    /* ---------- form in join.site ------- */
    main form {
        grid-column: 1/4;
        justify-self: stretch;
    }

    /* ----------directory page --------------- */
    main section.join-grids{
        grid-column: 1/end;
    }

    
    main div.cards.list section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        padding: 1rem 0;
        justify-items: left;
    }
    /* main div.cards.grid section{
        box-shadow: 0 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    } */

    main div.cards.list section .gold-membership-level, .silver-membership-level, .bronze-membership-level{
        display: block;
    }
    main div.cards.list h3{
        margin-left: 0;
        margin-right: 2rem;
        text-align: left;
    }
    main div.cards.list section p{
        text-align: start;
    } 
    main div.cards.list section:nth-child(3){
        text-align: center;
    }
    main div.cards.list section h3{
        font-size: smaller;

    }
    
}